#! /bin/sh -x
# Execute command by failover.
# special values:  %d = node id
#                  %h = host name
#                  %p = port number
#                  %D = database cluster path
#                  %m = new master node id
#                  %M = old master node id
#                  %H = new master node host name
#                  %P = old primary node id
#                  %R = new master database cluster path
#                  %r = new master port number
#                  %% = '%' character

falling_node=$1          # %d
old_primary=$2           # %P
new_primary=$3           # %H
pgdata=$4                # %R

pghome=/usr/pgsql-{{pgver}}

date
echo "failed_node_id=$falling_node new_primary=$new_primary"

if [ $falling_node = $old_primary ]; then
    ssh -o "StrictHostKeyChecking=no" -o "UserKnownHostsFile=/dev/null" -T postgres@$new_primary \
      $pghome/bin/pg_ctl promote -D $pgdata
    exit 0;
fi;
exit 0;

